@import './bootstrap';
@import './variables';
@import './mixins';

body {
  min-height: 100vh;
}

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  padding-top: $navbar-height;
}
